---
import "../styles/global.css";

import Navbar from "../components/navbar";
import MusicPlayer from "../components/music-player";
import { Image } from "astro:assets";

import GuidoTalarico from "../images/GuidoTalarico.webp";
import TimBrown from "../images/TimBrown.webp";
import LaLuceDiRoma from "../images/LaLuceDiRoma.webp";
import TheLonelyBody from "../images/TheLonelyBody.webp";
import EternalSeas from "../images/EternalSeas.webp";
import NinaBiographyImage from "../images/NinaMadisonBiographyImage.webp";

const handleEternalSeasLink =
  "https://store.steampowered.com/app/2124010/Eternal_Seas/";

const lonelyBodyUrl =
  "https://www.imdb.com/title/tt27791092/?ref_=tt_rvi_tt_t_1";

const luceDiRomaUrl = "https://insideart.eu/2022/02/28/la-luce-di-roma/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-nm.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Nina Madison Music</title>
    <meta name="description" content="Nina Madison's portfolio" />

    <meta property="og:url" content="https://ninamadisonmusic.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nina Madison Music" />
    <meta
      property="og:description"
      content="Nina Madison's portfolio. Hopefully this works"
    />
    <meta
      property="og:image"
      content="https://ninamadisonmusic.com/NinaMadisonPreviewImage.jpg"
    />

    <!-- Twitter Meta Tags-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="maxog98.github.io" />
    <meta property="twitter:url" content="https://ninamadisonmusic.com/" />
    <meta name="twitter:title" content="Nina Madison Music" />
    <meta name="twitter:description" content="Nina Madison's portfolio" />
    <meta
      name="twitter:image"
      content="https://ninamadisonmusic.com/NinaMadisonPreviewImage.jpg"
    />
  </head>
  <body>
    <Navbar />
    <header>
      <!-- <Image src={NinaPiano} alt="Nina Madison playing piano" height="910" /> -->
      <img
        src="/NinaMadisonPlayingPiano.webp"
        class="w-full aspect-video object-cover h-[500px] sm:h-[910px]"
        alt="Nina Madison playing piano"
      />
    </header>
    <main class="space-y-32 my-24">
      <section id="Credits">
        <h2 class="text-3xl xl:text-5xl">Credits</h2>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
          <div class="flex flex-col justify-start items-center">
            <h3>The lonely body - 2023</h3>
            <a
              href={lonelyBodyUrl}
              class="cursor-pointer transition ease-in-out delay-100 hover:opacity-80 hover:scale-105"
            >
              <Image src={TheLonelyBody} alt="The lonely body" height="500" />
            </a>
            <div class="flex flex-col justify-between p-8">
              <p class="italic">
                "Nina delivered a hauntingly brilliant score for The Lonely
                body. She had an intuitive grasp of the material from the outset
                and was a joy to collaborate with leaving us with a score that
                far exceeded my expectations. I highly recommend her and look
                forward to working with her again on my next film."
              </p>
              <div class="flex justify-start items-center mt-8 mb-16">
                <Image
                  src={TimBrown}
                  width={48}
                  height={48}
                  alt="Guido Talarico"
                  class={"rounded-full mr-4"}
                />
                <span>Tim Brown / Director</span>
              </div>
            </div>
          </div>
          <div class="flex flex-col justify-start items-center">
            <h3>La luce di Roma - 2021</h3>
            <a
              href={luceDiRomaUrl}
              class="cursor-pointer transition ease-in-out delay-100 hover:opacity-80 hover:scale-105"
            >
              <Image src={LaLuceDiRoma} alt="La luce di Roma" height="500" />
            </a>
            <div class="flex flex-col justify-between p-8">
              <p class="italic">
                "I chose Nina Madison's music because her melodies perfectly
                captured the spirit of our documentary. It's as if Nina, despite
                not fully knowing our narrative intentions, knew from the
                beginning where we wanted to take our audience and helped us
                achieve this with excellence. I find that her music is very
                evocative and persuasive. It touches the right chords of the
                soul at the right time."
              </p>
              <div class="flex justify-start items-center mt-8 mb-16">
                <Image
                  src={GuidoTalarico}
                  width={48}
                  height={48}
                  alt="Guido Talarico"
                  class={"rounded-full mr-4"}
                />
                <span>Guido Talarico / Director</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="UpcomingProjects">
        <h2 class="text-3xl xl:text-5xl">Upcoming Projects</h2>
        <div class="flex flex-col space-y-10 items-center mb-24">
          <a
            href={handleEternalSeasLink}
            class="cursor-pointer transition ease-in-out delay-100 hover:opacity-80 hover:scale-105"
          >
            <Image src={EternalSeas} alt="Eternal Seas Cover" width="936" />
          </a>

          <div class="flex flex-col items-center">
            <h4 class="text-left">Developer and Publisher: Versnel Studios</h4>
            <p>
              Eternal seas is an open world pirate RPG inspired by classic
              pirate games, set in a fictional island region. Command mighty
              vessels and lead your crew across the high seas and through lush
              jungles. Will you find fortune or will your soul be damned to sail
              the seas eternally?
            </p>
          </div>
          <a
            href="https://store.steampowered.com/app/2124010/Eternal_Seas/"
            class="block p-2 hover:bg-accentdark w-32 rounded-md bg-accent text-center font-medium cursor-pointer transition ease-in-out delay-100"
            >Go to Steam</a
          >
        </div>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-8">
          <div class="flex flex-col items-center space-y-5">
            <h3 class="text-left">Bulgaria (Documentary, 2023/2024)</h3>
            <div
              class="bg-gray-500 flex justify-center items-center h-96 w-full"
            >
              Upcoming project image
            </div>
            <p class="text-left px-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              quas excepturi, eum magni suscipit sapiente totam sed soluta
              nostrum voluptas eveniet quibusdam eius optio?
            </p>
          </div>
          <div class="flex flex-col items-center space-y-5">
            <h3 class="text-left">'Spazio Vuoto' (Short, 2023/2024)</h3>
            <div
              class="bg-gray-500 flex justify-center items-center h-96 w-full"
            >
              Upcoming project image
            </div>

            <p class="text-left px-4">
              Spazio Vuoto delves into the story of a young man returning home
              after his father's death. On this journey of self-discovery, he
              must confront the neglected relationship he had with his father
              and the memories of the home he grew up in, to finally move
              forward and live a life unburdened by the past.
            </p>
          </div>
        </div>
      </section>
      <section id="MusicPlayer">
        <h2 class="text-3xl xl:text-5xl">Music portfolio</h2>
        <MusicPlayer client:only="react" />
      </section>
      <section id="Video">
        <h2 class="text-3xl xl:text-5xl">
          Educational Scoring to Picture Projects
        </h2>
        <div class="flex flex-col mb-24 items-start">
          <h4>Jack Ryan Trailer - Main title Cue / Electronic</h4>
          <div
            class="bg-gray-500 flex justify-center items-center w-full aspect-video"
          >
            Video
          </div>
        </div>
        <div class="flex flex-col mb-24 items-start">
          <h4>Creation Trailer - Main title Cue / Orchestral</h4>
          <div
            class="bg-gray-500 flex justify-center items-center w-full aspect-video"
          >
            Video
          </div>
        </div>
      </section>
      <section id="About">
        <h2 class="text-3xl xl:text-5xl">About</h2>
        <div class="flex flex-col md:flex-row">
          <!-- <div
            class="bg-gray-500 flex justify-center items-center w-full md:w-6/12 aspect-square"
          >
            Nina image
          </div> -->
          <Image
            src={NinaBiographyImage}
            alt="Nina Madison"
            class="w-full md:w-6/12 aspect-square"
          />
          <div class="flex flex-col w-full justify-center md:w-6/12 p-8">
            <h4 class="text-left">Biography</h4>
            <!-- suddividere in paragrafi staccati? -->
            <p>
              Born in Milan but living abroad for most of her life, Nina grew up
              in an international environment that connected her with people
              from all over the world. Being able to call more than one place
              “home”, her identity always held roots in her creativity. She
              found her voice in music, telling her story and those of others.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer class="h-24 w-full bg-slate-800"></footer>
  </body>
</html>
